<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/786229ae-09dc-47d8-a26d-bd01c512f151/resourcegroups/DDACSEA/providers/Microsoft.Web/sites/DDAC20170705031702</ResourceId>
    <ResourceGroup>DDACSEA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ddac20170705031702.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ddac20170705031702.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DDAC20170705031702</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DDAC20170705031702</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>unrealaizatyahoo.onmicrosoft.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DDAC-20170705031556.mdf;Initial Catalog=aspnet-DDAC-20170705031556;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DDAC-20170705031556.mdf;Initial Catalog=aspnet-DDAC-20170705031556;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://unrealaizatyahoo.onmicrosoft.com/WebApp-ddac20170705031702.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>e396177b-e2c4-4fea-97d1-e760998e836f</ADClientAPPID>
    <ADClientPassword>a3VRl0ZSwZk9+DoEzPbMk4QATWSIjA6uqsBw1G9nehw=</ADClientPassword>
    <ADReplyUrl>https://ddac20170705031702.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>e686adbf-3478-4992-87d9-c53114a93565</ADTenantId>
    <ADPostLogoutRedirectUri>https://ddac20170705031702.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>