<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/786229ae-09dc-47d8-a26d-bd01c512f151/resourcegroups/DDACEUROPE/providers/Microsoft.Web/sites/EuropeDDAC20170707045332</ResourceId>
    <ResourceGroup>DDACEUROPE</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://europeddac20170707045332.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>europeddac20170707045332.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EuropeDDAC20170707045332</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EuropeDDAC20170707045332</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>unrealaizatyahoo.onmicrosoft.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=europeddac20170707045332dbserver.database.windows.net;Initial Catalog=db;Persist Security Info=True;User ID=admin123;Password=tp028747@1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EuropeDDAC.Models.ApplicationDbContext, EuropeDDAC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://unrealaizatyahoo.onmicrosoft.com/WebApp-europeddac20170707045332.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>6440947b-7288-45ac-9f54-a42865a476f2</ADClientAPPID>
    <ADClientPassword>kDDKkQTji+b2wN0PUB/IA/+X7E9Qngizie4pdpq940A=</ADClientPassword>
    <ADReplyUrl>https://europeddac20170707045332.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>e686adbf-3478-4992-87d9-c53114a93565</ADTenantId>
    <ADPostLogoutRedirectUri>https://europeddac20170707045332.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=europeddac20170707045332dbserver.database.windows.net;Initial Catalog=db;Persist Security Info=True;User ID=admin123;Password=tp028747@1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=europeddac20170707045332dbserver.database.windows.net;Initial Catalog=db;Persist Security Info=True;User ID=admin123;Password=tp028747@1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>